
################################################################################
# System and config files
desktop.ini
.agignore
.ignore
*.lnk
*.url

################################################################################
# App specific files
work*.html
work*.js
/~/
